<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="app/vendor/autoload.php"
         colors="true"
         executionOrder="processor"
         forceCoversTargetShowUncoveredFiles="false"
         showUncoveredFiles="false"
         beStrictAboutCoversMetaEnvironments="true"
         failOnEmptyTestSuite="true"
         parallelism="4">
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:SGVsbG8gV29ybGQhIFRoaXMgaXMgYSBzZWNyZXQga2V5IQ=="/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="SMS_PROVIDER" value="null"/>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="REDIS_DATABASE" value="0"/>
        <env name="REDIS_CACHE_DB" value="1"/>
    </php>

    <testsuites>
        <testsuite name="Module Tests">
            <directory suffix="Test.php">./app/Modules</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">app/Modules</directory>
        </include>
    </coverage>
</phpunit>
